[core]
  # Use VSCode as the editor for git commit messages
  editor = "code --wait"

[color]
  # Colour highlighting can often make things easier to read
  ui = auto
  
[user]
  name = "John Boyes"
  email = 154404+johnboyes@users.noreply.github.com
  
[commit]
  gpgsign = true
